absl-py
alembic
annotated-types
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
babel
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
cityscapesScripts
click
cloudpickle
coloredlogs
comm
contourpy
cycler
databricks-sdk
debugpy
decorator
defusedxml
docker
executing
fastapi
fastjsonschema
Flask
flatbuffers
fonttools
fqdn
gast
gitdb
GitPython
google-auth
google-pasta
graphene
graphql-core
graphql-relay
greenlet
grpcio
gunicorn
h11
h5py
httpcore
httpx
humanfriendly
idna
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter_client
jupyter-console
jupyter_core
jupyter-events
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
jupyter-lsp
jupyter_server
jupyter_server_terminals
keras
kiwisolver
lark
libclang
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml_dtypes
mlflow
mlflow-skinny
namex
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
opt_einsum
optree
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
prometheus_client
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
Pygments
pyparsing
pyquaternion
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rich
rpds-py
rsa
scikit-learn
scipy
seaborn
Send2Trash
setuptools
six
smmap
sniffio
soupsieve
SQLAlchemy
sqlparse
stack-data
starlette
tensorboard
tensorboard-data-server
tensorflow
termcolor
terminado
threadpoolctl
tinycss2
tornado
tqdm
traitlets
types-python-dateutil
typing
typing_extensions
typing-inspection
tzdata
uri-template
urllib3
uvicorn
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
wrapt
zipp
